Flask~=3.1.0
SQLAlchemy~=2.0.39
opencv-python~=4.11.0.86
easyocr~=1.7.2
numpy~=2.1.1
pillow~=11.1.0
pip~=25.0.1
filelock~=3.18.0
python-bidi~=0.6.6
pytz~=2025.1
torch~=2.6.0
ultralytics-thop~=2.0.14
requests~=2.32.3
colorama~=0.4.6
PyYAML~=6.0.2
typing_extensions~=4.12.2
MarkupSafe~=3.0.2
Werkzeug~=3.1.3
click~=8.1.8
Jinja2~=3.1.6
blinker~=1.9.0
itsdangerous~=2.2.0
ninja~=1.11.1.3
charset-normalizer~=3.4.1
setuptools~=76.0.0
scipy~=1.15.2
matplotlib~=3.10.1
mpmath~=1.3.0
sympy~=1.13.1
roboflow~=1.1.58
ultralytics~=8.3.91
tqdm~=4.67.1
torchvision~=0.21.0
psutil~=7.0.0
packaging~=24.2
urllib3~=2.3.0
fsspec~=2025.3.0
pandas~=2.2.3
python-dateutil~=2.9.0.post0
certifi~=2025.1.31
py-cpuinfo~=9.0.0
pyclipper~=1.3.0.post6
shapely~=2.0.7
six~=1.17.0
scikit-image~=0.25.2
imageio~=2.37.0
tifffile~=2025.3.13
seaborn~=0.13.2
cycler~=0.12.1
lazy_loader~=0.4
networkx~=3.4.2
filetype~=1.2.0
greenlet~=3.1.1
idna~=3.7
python-dotenv~=1.0.1
pillow_heif~=0.22.0
requests-toolbelt~=1.0.0
contourpy~=1.3.1
fonttools~=4.56.0
pyparsing~=3.2.1
kiwisolver~=1.4.8
pyodbc~=5.2.0
flask
opencv-python
easyocr
sqlalchemy
pyodbc